<div class="container">
  <div class="row">
    <div class="col-xs-3">
    <%= link_to "New", new_blog_path %>
    </div>
    <div class="col-xs-9">
      <h2>Coroぷりさん's ページ</h2>
        <h3><%= @user.name %></h3>
        <table>
          <thead>
            <tr>
              <th>title</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
