<%= render 'users/profile', user: @user, blog: @blog %>
    <div class="col-xs-9">
      <h2>Coroぷりさん's ページ</h2>
        <h3><%= @user.name %></h3>
        <table class="table">
          <thead>
            <tr>
              <th>title</th>
            </tr>
          </thead>
          <tbody>
            <% @blogs.each do |blog| %>
              <tr>
                <td><%= link_to blog.title,blog, class: "blog_#{blog.id}" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
<%= javascript_include_tag "loginalert.js" %>
