<h2>Coroぷりさん's ページ</h2>
  <h3><%= @user.name %></h3>
  <table>
    <thead>
      <tr>
        <th>title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>
